
    
    .wrapper{
        width: 310px;
        height: 100px;
        padding: 0%;
    }
    div.block {
        width: 100px;
        height: 200px;
        display: inline-block;
    }     

        .wrapper div:nth-child(1){
            background-color: blue;
        }

        .wrapper div:nth-child(3){
            background-color: red;
        }
